body {
    font-family: Arial, sans-serif;
}

/* Styles from your previous head section */
h1 {
    font-size: 0.8em;
}

img.animated-gif {
    display: block;
    width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.social-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

img {
    width: 100%;
    height: auto;
}

/* Existing table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Responsive design for mobile devices */
@media screen and (max-width: 600px) {

    th,
    td {
        display: block;
        width: 100%;
    }

    th {
        background-color: #e7e7e7;
    }

    td {
        border-top: none;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 90px;
    }

    tr {
        margin-bottom: 15px;
    }
}